<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
</head>
<body>
    <form action="/users/userpackage" method="POST">
        <h1>Orders</h1>
        <input type="hidden" name="UserId" value="<%=user.id%>">
        <label for="">Nama Pemesan</label></br>
        <input type="text" name="fullname" readonly value="<%=user.fullname%>"></br></br>
        <label for="">Choose Your Package:</label><br/>
        <select name="PackageId" id="" required>
            <option value="">---- Select Packages ---</option>
            <%packages.forEach(el=>{%>
                <option value="<%=el.id%>"><%=el.name%></option>
            <%})%>
        </select></br></br>
        <button>Choose</button>
    </form>
    <hr>
    <span>Keranjang Belanja:</span>
    <table border="3px">
        <thead>
            <tr>
                <th>Package's Name</th>
                <th>Duration</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <%user.Packages.forEach(el=>{%>
            <tr>
                <td><%=el.name%></td>
                <td><%=el.duration%></td>
                <td><%=el.price%></td>
                <td>
                    <a href="/users/<%=user.id%>/delete/userpackage/<%=el.id%>"><button>CANCEL</button></a>
                </td>
            </tr>
            <%})%>
        </tbody>
    </table>
    <hr>
    <form action="/users/confirm/<%=user.id%>" method="POST">
        <label for="">Total Price</label><br>
        <%let total = 0%>
        <%user.Packages.forEach(el=>{%>
            <%total += el.price%>
            <%})%>
        <input type="text" name="totalPrice" readonly value="<%=total%>"><br/></br>
        <label for="">Choose Your Workers:</label><br/>
        <select name="workers" id="">
            <option value="">---- Select Workers ---</option>
            <%staff.forEach(el=>{%>
                <option value="<%=el.id%>"><%=el.fullname%></option>
                <%})%>
        </select></br></br>
        <button type="submit">confirm</button>
    </form>
</body>
</html>