<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hack8Clean</title>
</head>
<body>
    <%- include ('nav') %>
    <main>
        <% if(role === 1) { %>  
        <div class="content">
            <header>
                <h1><%= header %></h1>
            </header>                    
                <% if(header === 'List Package') { %>
                    <%- include('package/packageTable') %>
                <% } else if(header === 'Add Package') {%>
                    <%- include ('package/packageAddForm') %>
                <% } else if(header === 'Edit Package') {%>
                    <%- include ('package/packageEditForm') %>
                <% } else if(header === 'List Staff') { %>
                    <%- include('staff/staffTable') %>
                <% } else if(header === 'Add Staff') {%>
                    <%- include ('staff/staffAddForm') %>
                <% } else if(header === 'Edit Staff') {%>
                    <%- include ('staff/staffEditForm') %>
                <% } %>
        </div>
        <% } else { %>
            <h3>You don't have any access, please login as admin!</h3>
        <% } %>
    </main>
</body>
</html>