<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hack8Clean</title>
</head>
<body>
    <%- include ('nav') %>
    <main>
        <div class="content">
            <header>
                <h1><%= header %></h1>
            </header>
            <% if(header === 'List Package') { %>
                <%- include('packageTable') %>
            <% } else if(header === 'Add Package') {%>
                <%- include ('packageAddForm') %>
            <% } else if(header === 'Edit Package') {%>
                <%- include ('packageEditForm') %>
            <% } %>
        </div>
    </main>
</body>
</html>